@using Spacdyna.Models
@model AppUser
@{
    Layout = null;
}

<div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
                <div class="card-body">
                    <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                        <img src="~/admin/images/logos/dark-logo.svg" width="180" alt="">
                    </a>
                    <p class="text-center">Your Social Campaigns</p>
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for=UserName class="form-label"></label>
                            <input asp-for=UserName class="form-control">
                            <span asp-validation-for="UserName"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for=Email class="form-label"></label>
                            <input asp-for=Email class="form-control">
                            <span asp-validation-for="Email"></span>

                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="PasswordHash" class="form-label">
                                
                            </label>
                            <input type="password" asp-for="PasswordHash" class="form-control">
                            <span asp-validation-for="PasswordHash"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly"></div>
                        <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                            <a class="text-primary fw-bold ms-2" href="./authentication-login.html">Sign In</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>